

// Colors
// $color-blue: #0881a3 ;
$color-blue: #278EA5 ;
$color-yellow: #f8b500;
$color-orange: #ea4c4c;
$color-gray: #ebebeb;
$color-white: white;

// Typography
$text-white: #ffffff;
$text-gray: #6E7DA2;
$font: Futura;
$fs:(
    normal: 18px,
    small: 12px,
);

// Constants 
// $main-width: 80%;
$main-height: 100vh;
// calc(100vh - 95px);
// $summary-width:20%;
